---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/FormattedDate'
import BaseLayout from '@/layouts/BaseLayout'
// import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'
import Stats from '@/components/Stats'

type Props = {
  id: CollectionEntry<'posts'>['id']
  data: CollectionEntry<'posts'>['data']
  readTime: string
}

const { data, readTime } = Astro.props
const { title, excerpt, date, coverImage } = data
const articleDate = date.toISOString()
---

<BaseLayout
  title={title}
  description={excerpt}
  image={coverImage}
  articleDate={articleDate}
>
  <article class="min-w-full sm:max-w-none sm:py-4">
    <!-- HEADER -->
    <header class="flex min-w-full flex-col justify-center">
      <div class="flex flex-col gap-2">
        <h1
          class="mb-8 text-balance text-center text-4xl font-bold leading-tight tracking-tighter md:text-left md:text-6xl md:leading-none lg:text-7xl"
        >
          {title}
        </h1>
        {
          coverImage && (
            <div class="relative aspect-[2/1] w-full">
              <Image
                src={`https://danstroot.imgix.net${coverImage}?w=1120&h=560&q=75&auto=format,enhance&fm=avif,webp`}
                alt={`img of ${title}`}
                width={1496}
                height={748}
                loading="eager"
                class="rounded-[2px] object-cover"
              />
            </div>
          )
        }
        <Stats readTime={readTime} />
      </div>
    </header>

    <!-- TODO: Move into hedaer section -->
    <div class="flex items-center justify-center gap-x-1">
      <p class="text-center text-sm font-bold text-opacity-50">
        Published <FormattedDate date={date} />
      </p>
      <p class="text-center text-sm font-bold text-opacity-50">
        - {data.author.name}
      </p>
    </div>

    <!-- CONTENT -->
    <slot />
  </article>
</BaseLayout>
