---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout'

type Props = {
  data: CollectionEntry<'quotes'>['data']
  index: number
  length: number
}

const { data, index, length } = Astro.props
const { quote, author, publication, comments } = data

let newSlug = 0

if (index != length) {
  newSlug = index + 1
} else {
  newSlug = 1
}
---

<BaseLayout>
  <section
    class="flex flex-col opacity-100 transition-opacity duration-500 ease-in-out"
  >
    <div class="grow">
      <blockquote
        class="border-l-8 border-gray-400 px-4 py-2 dark:border-gray-600 md:px-8"
      >
        <p
          class="text-balance text-xl font-medium italic text-gray-900 dark:text-white md:text-2xl"
        >
          {quote}
        </p><p
          class="text text-muted-foreground pt-8 font-medium italic leading-relaxed md:text-xl"
        >
          — {author}, {publication}
        </p>
      </blockquote><div data-state="closed" class="mt-6 md:mt-12">
        <button
          type="button"
          aria-controls="radix-:r6:"
          aria-expanded="false"
          data-state="closed"
          class="text-muted-foreground flex items-center text-base font-semibold"
          >Commentary <div class="mt-1 inline-block w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="rotate-90 transform duration-300 ease-in-out"
              ><path d="m9 18 6-6-6-6"></path></svg
            >
          </div></button
        ><div
          data-state="closed"
          id="radix-:r6:"
          hidden=""
          class="CollapsibleContent text-muted-foreground mt-4"
          style=""
        >
        </div>
        <div
          data-state="open"
          id="radix-:r6:"
          class="CollapsibleContent text-muted-foreground mt-4"
          style="--radix-collapsible-content-height: 120px; --radix-collapsible-content-width: 720px;"
        >
          {comments}
        </div>
      </div>
    </div><a
      href={`/quotes/${newSlug}`}
      type="button"
      class="mb-2 mt-8 w-52 rounded-full bg-gray-900 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-0 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 md:mt-16"
      >Another Quote Please</a
    >
  </section>
</BaseLayout>
